extends baseEmail 

block content
        H3 Hello #{user.name},
        p  Welcome to Alarinka, We're thrilled to have you on board!. Please enter the 6-digit verification otp on our signup page to complete the process
        h2 #{otp}
        p If you did not initaite this verification otp, please ignore this email. Thank you! 