extends baseEmail 

block content
        H3 Hello there,
        p It seems like you've forgotten your password for Alarinka, but no worries, we're here to help you get back on track! To reset your password and regain access to your account, use the following six digit OTP on our reset password page:
        h2 #{otp}
        p If you did not initaite this verification otp, please ignore this email. Thank you! 