*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  position: relative;
  font-size: 1.72rem;
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 3rem 2rem;
}

.title span {
  position: absolute;
  padding: 0.625rem 0.94rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  transform: rotate(3deg);
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
