.heading {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 2.5rem;
}

.title {
  display: flex;
  font-size: 1.72rem;
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

.title span {
  padding: 0.625rem 0.94rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: var(--linear-grad-dark);
}

.paymentContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.paymentContainer > div {
  margin-bottom: 3rem;
}

.earnings {
  margin: 0 2rem;
}

.totalEarnings {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-primary);
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-top: 0.8rem;
}

.earningList {
  display: flex;
  gap: 1rem;
  color: var(--color-primary);
  font-size: 1.5rem;
}
